body {
  font-family: Helvetica, sans-serif;
}
p{
  display: inline;
}
.appContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.retro {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  border: none;
  font: normal 82px/normal "Anton", Helvetica, sans-serif;
  color: rgb(112, 112, 112);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 10px;
  text-shadow: 4px 4px 0 rgb(238,238,238) , 6px 6px 0 rgb(112,112,112) ;
}
@media only screen and (max-width: 600px) {
    .retro{
      font-size: 5.2rem;
    }
}
@media only screen and (max-width: 450px) {
    .retro{
      font-size: 4.2rem;
    }
    .formContainer{
      margin-top: 7%;
    }
}
@media only screen and (max-width: 400px) {
    .retro{
      font-size: 3.6rem;
    }
    
    .formContainer{
      margin-top: 12%;
    }
}
@media only screen and (max-width: 350px) {
    .retro{
      font-size: 3.1rem;
    }
    
    .formContainer{
      margin-top: 15%;
    }
}
@media only screen and (max-width: 300px) {
    .retro{
      font-size: 2.6rem;
    }

    .formContainer{
      margin-top: 18%;
    }
}
.formsContainer{
  margin-top: 2%;
  display: flex;
  width: 80%;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.react-autosuggest__container {
  position: relative;
  height: 100%;
}
.chordBox{
  width:100%;
  margin-top: 50px;
}
.chordsContainer{
  box-sizing: border-box;
  width:90%;
  height: 120px;
  margin:2% auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.react-autosuggest__input {
  width: 240px;
  height: 100%;
  padding:0;
  padding-left:5px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.fretChange{
  height:100%;
}
.selectFret{
  height:100%;
  font-size: 25px;
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
  color: grey;
  padding: 6px;
}
.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 240px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
